@import url("https://fonts.googleapis.com/css2?family=Ledger&family=Merriweather:wght@300;400;700;900&display=swap");
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* PARA PONER FORMA DE LETRA A TODO EL ARCHIVO */
html,
body {
  font-family: "Merriweather", serif;
  background: #0077b6;
  color: #dee2e6;
  scroll-behavior: smooth;
  font-size: 14px;
}
.container {
  max-width: 1325px;
  overflow: auto;
}
/* Altura de cada Sección */
#home,
#evento,
#registro,
#nosotros {
  min-height: 80vh;
}
h1 {
  font-weight: 700;
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
p {
  font-size: 1.2em;
}
/* ENCABEZADO */
a {
  text-decoration: none;
}
#mainheader {
  background: #03045e;
}
#navbar {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
#navbar .logo {
  padding-top: 5px;
  font-weight: 400;
}
#navbar .logo img {
  width: 45%;
  float: right;
}
#navbar .logo img:hover {
  width: 47%;
}
#navbar ul {
  list-style: none;
  text-transform: uppercase;
  font-size: 1.4em;
}
#navbar ul li {
  float: left;
}
#navbar ul li a {
  color: #dee2e6;
  display: block;
  padding: 20px;
  text-align: center;
}
#navbar ul li a:hover {
  background: #48cae4;
}
/* Estilos del Home */
#home {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-img {
  float: right;
  width: 45%;
}
.home-img img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  top: 0;
  bottom: 0;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
.home-img img:hover {
  opacity: 1;
}
.home-text {
  text-align: center;
}
.home-text h1,
.home-text h2 {
  margin-bottom: 30px;
}
.home-text {
  float: left;
  width: 45%;
  padding: 20px 30px 20px 40px;
}
/*  SECCION EVENTO */
#evento {
  margin-left: 10px;
  background: #00b4d8;
  padding: 30px 30px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.event-video {
  float: left;
  width: 50%;
}
.event-text {
  float: right;
  width: 50%;
}
/* SECCION  NOSOTROS */
#nosotros {
  padding: 30px 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nosotros-text {
  float: left;
  width: 40%;
}
.nosotros-text h1 {
  margin-bottom: 20px;
}
.nosotros-img {
  width: 60%;
}
.nosotros-img img {
  float: right;
  width: 85%;
  height: auto;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
/* SECCIÓN REGISTRO */
#registro {
  width: 100%;
  margin: 10px;
  padding: 20px 20px;
  background: #48cae4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.registro-form {
  float: left;
  width: 40%;
  margin: 20px 20px;
}
.registro-title {
  float: right;
  width: 60%;
  margin: 20px 20px;
  font-weight: 700;
}
form .form-group {
  margin-bottom: 1rem;
  font-weight: 700;
}
form .form-control {
  width: 100%;
  padding: 0.375rem 0.7rem;
  font-size: 1.2em;
  line-height: 1.7;
  border: none;
}
/* Estilos del Boton */
.btn {
  display: inline-block;
  font-size: 1.2em;
  padding: 14px 23px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
  margin-top: 10px;
}
.btn-light {
  background: #03045e;
  border: 1px solid #03045e;
  color: #dee2e6;
  width: 100%;
}
.btn-light:hover {
  background: #dee2e6;
  border: 1px solid #03045e;
  color: #03045e;
}
/* Estilos del Footer */
footer {
  padding: 0px 0px 0px 10px;
}
/* Sección del Clima */
.clima {
  background: #03045e;
  width: 35%;
  border-radius: 10px;
  border: #03045e solid 1px;
  color: #dee2e6;
  padding: 5px 10px;
  margin: 5px 0;
  float: left;
  transition: all 0.3s ease;
}
.clima:hover {
  background: #023e8a;
  /* width: 45%; */
  height: 250px;
}
.clima-title {
  text-align: center;
  margin-bottom: 10px;
}
.card-left {
  float: left;
  text-align: center;
}
.card-rigth {
  float: right;
  color: #dee2e6;
}
.card label {
  display: block;
  margin-bottom: 3px;
}
.card #temp {
  color: #db9426;
  font-size: 1.5em;
}
.gray-bg {
  background: #dddddd;
  color: #db9426;
}
.temperatura {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#fecha-evento {
  width: 32%;
  float: left;
  background: rgba(252, 252, 252, 0.9);
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#fecha-evento img {
  width: 330px;
  height: auto;
}
/* Estilos del Mapa */
.mapa {
  width: 30%;
  background: #fff;
  float: right;
  width: auto;
  border-radius: 10px;
  border: gray solid 1px;
  color: #03045e;
}
iframe {
  margin: 10px 10px;
}
#whatsapp {
  width: 10%;
  margin: 20px 5px;
  position: relative;
  left: 39%;
}
#whatsapp a {
  border: 1px solid #dee2e6;
  color: #dee2e6;
  border-radius: 20px;
  background: #00a884;
  display: inline-block;
  padding: 10px 80px;
}
#whatsapp a i {
  margin-left: 10px;
  display: inline;
}
#whatsapp a:hover {
  color: #00a884;
  background: #dee2e6;
}
